vhdl/1_PhD_projects/cold_wallet/Ethereum_cold_wallet/eth_ND_HD/eth_nd_hd/eth_nd_hd.cache
vhdl/1_PhD_projects/cold_wallet/Ethereum_cold_wallet/eth_ND_HD/eth_nd_hd/eth_nd_hd.sim/sim_1/behav/xsim/xsim.dir
*.cache
*.hw
*.ioplanning
*.ip_user_files
*.sim
*.runs
*.srcs
*.xpr
*.qdb
*.qpg
*.qtl
*_info
*_vmake
*.vunit_hash
*.dat
*.gen
*.mti
*.ini
*.wlf
*.xci
*.edn
*.edf
*.sdc
*.vscode
*.dcp
*.xml
*.vh
*.ui
*.hwdef
*.protoinst
*.mpf
project_database
ETH_BLOCKS/

